{% block body %}

<nav class="navbar navbar-expand-lg navbar-light"> <!-- Utilisation des classes Bootstrap pour la barre de navigation -->
    <a class="navbar-brand" href="{{path("app_index")}}"> <!-- Lien vers la page d'accueil -->
        <img class="logo" src="{{ asset('/img/GalleryGather.png') }}" alt="GalleryGather"> <!-- Logo de l'application -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <!-- Bouton pour basculer la navigation sur les appareils mobiles -->
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown"> <!-- Utilisation de la classe dropdown pour les catégories -->
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Catégories
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Spectacle</a></li>
                    <li><a class="dropdown-item" href="#">Concert</a></li>
                    <li><a class="dropdown-item" href="#">Vernissage</a></li>
                    <li><a class="dropdown-item" href="#">One man show</a></li>
                </ul>
            </li>
        </ul>
        <div class="navbar-buttons "> <!-- Utilisation de la classe navbar-buttons pour les boutons de navigation -->
            {% if is_granted('ROLE_ORGA') %}
                <a class="btn btn-light" href="{{ path('app_logout')}}">Se déconnecter</a>
                <a class="btn btn-light" href="{{ path('app_message')}}">Message</a>
                <a class="btn btn-light" href="{{ path('app_matchmakingOrga')}}">Match</a>
                <a class="btn btn-light" href="{{ path('app_orga_orgaView', {'id': app.user.id})}}">Profil</a>
                <p class="row mt-4" >Bonjour {{ app.user.firstname | upper }} !</p>
            {% elseif is_granted('ROLE_PRO') %}
                <a class="btn btn-light" href="{{ path('app_logout')}}">Se déconnecter</a>
                <a class="btn btn-light" href="{{ path('app_message')}}">Message</a>
                <a class="btn btn-light" href="{{ path('app_matchmakingPro')}}">Match</a>
                <a class="btn btn-light" href="{{ path('app_pro_proView', {'id': app.user.id})}}">Profil</a>
                <p class="row mt-4" >Bonjour {{ app.user.firstname | upper }} !</p>
            {% else %}
                <a class="btn btn-light" href="{{ path('app_register')}}">S'enregistrer</a>
                <a class="btn btn-light" href="{{ path('app_login')}}">Se connecter</a>
            {% endif %}
        </div>
    </div>
</nav>


{% endblock %}