{% extends 'base.html.twig' %}

{% block title %}Événements{% endblock %}

{% block body %}
 <h2 class="row justify-content-center">Événements à venir</h2>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="text-justify">
   
    <div class="events">
        {% for event in events %}
            <div class="event ">
                <h3>{{ event.nom }}</h3>
                <p>{{ event.description }}</p>
                <p>Date : {{ event.date|date('d/m/Y') }}</p>
                {# <div class="map">
                    {# Affichage de la carte de l'événement #}
                    {# <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d{{ event.latitude }},{{ event.longitude }}!2d-73.58780268035716!3d45.50884983709904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91a541c64b70d%3A0x654e3138211fefef!2sMontr%C3%A9al%2C+QC%2C+Canada!5e0!3m2!1sfr!2sfr!4v1424295589480" width="600" height="450" frameborder="0" style="border:0"></iframe>
                </div> #} 
                <a href="{{path('app_event_delete', {'id': event.id})}}">
         <button class="btn btn-primary">supprimer</button></a>
            </div>
             </div>
              </div> 
              </div>
        {% endfor %}
    </div>
{% endblock %}